Service References/AssureSignServiceReference/documentnow14.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://www.assuresign.net/Services/DocumentNOW/Accounts" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://www.assuresign.net/Services/DocumentNOW/Accounts" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://www.assuresign.net/Services/DocumentNOW/Accounts/Imports">
      <xsd:import schemaLocation="https://na1.assuresign.net/services/documentnow/v2/documentnow.svc?xsd=xsd23" namespace="https://www.assuresign.net/Services/DocumentNOW/Accounts" />
      <xsd:import schemaLocation="https://na1.assuresign.net/services/documentnow/v2/documentnow.svc?xsd=xsd0" namespace="https://www.assuresign.net/Services/DocumentNOW/AuthenticateDownload" />
      <xsd:import schemaLocation="https://na1.assuresign.net/services/documentnow/v2/documentnow.svc?xsd=xsd1" namespace="http://microsoft.com/wsdl/types/" />
      <xsd:import schemaLocation="https://na1.assuresign.net/services/documentnow/v2/documentnow.svc?xsd=xsd2" namespace="https://www.assuresign.net/Services/DocumentNOW/Submit" />
      <xsd:import schemaLocation="https://na1.assuresign.net/services/documentnow/v2/documentnow.svc?xsd=xsd3" namespace="https://www.assuresign.net/Services/DocumentNOW/LookupSession" />
      <xsd:import schemaLocation="https://na1.assuresign.net/services/documentnow/v2/documentnow.svc?xsd=xsd4" namespace="https://www.assuresign.net/Services/DocumentNOW/CheckStatus" />
      <xsd:import schemaLocation="https://na1.assuresign.net/services/documentnow/v2/documentnow.svc?xsd=xsd5" namespace="https://www.assuresign.net/Services/DocumentNOW/ViewHistory" />
      <xsd:import schemaLocation="https://na1.assuresign.net/services/documentnow/v2/documentnow.svc?xsd=xsd6" namespace="https://www.assuresign.net/Services/DocumentNOW/ListSignatories" />
      <xsd:import schemaLocation="https://na1.assuresign.net/services/documentnow/v2/documentnow.svc?xsd=xsd7" namespace="https://www.assuresign.net/Services/DocumentNOW/ListTemplates" />
      <xsd:import schemaLocation="https://na1.assuresign.net/services/documentnow/v2/documentnow.svc?xsd=xsd8" namespace="https://www.assuresign.net/Services/DocumentNOW/ListParameters" />
      <xsd:import schemaLocation="https://na1.assuresign.net/services/documentnow/v2/documentnow.svc?xsd=xsd9" namespace="https://www.assuresign.net/Services/DocumentNOW/RetrieveTemplateInfo" />
      <xsd:import schemaLocation="https://na1.assuresign.net/services/documentnow/v2/documentnow.svc?xsd=xsd10" namespace="https://www.assuresign.net/Services/DocumentNOW/Expire" />
      <xsd:import schemaLocation="https://na1.assuresign.net/services/documentnow/v2/documentnow.svc?xsd=xsd11" namespace="https://www.assuresign.net/Services/DocumentNOW/Cancel" />
      <xsd:import schemaLocation="https://na1.assuresign.net/services/documentnow/v2/documentnow.svc?xsd=xsd12" namespace="https://www.assuresign.net/Services/DocumentNOW/ListNotifications" />
      <xsd:import schemaLocation="https://na1.assuresign.net/services/documentnow/v2/documentnow.svc?xsd=xsd13" namespace="https://www.assuresign.net/Services/DocumentNOW/ResendNotification" />
      <xsd:import schemaLocation="https://na1.assuresign.net/services/documentnow/v2/documentnow.svc?xsd=xsd14" namespace="https://www.assuresign.net/Services/DocumentNOW/UpdateSignatory" />
      <xsd:import schemaLocation="https://na1.assuresign.net/services/documentnow/v2/documentnow.svc?xsd=xsd15" namespace="https://www.assuresign.net/Services/DocumentNOW/GetDocumentValues" />
      <xsd:import schemaLocation="https://na1.assuresign.net/services/documentnow/v2/documentnow.svc?xsd=xsd16" namespace="https://www.assuresign.net/Services/DocumentNOW/Envelopes" />
      <xsd:import schemaLocation="https://na1.assuresign.net/services/documentnow/v2/documentnow.svc?xsd=xsd17" namespace="https://www.assuresign.net/Services/DocumentNOW/Download" />
      <xsd:import schemaLocation="https://na1.assuresign.net/services/documentnow/v2/documentnow.svc?xsd=xsd18" namespace="https://www.assuresign.net/Services/DocumentNOW/DownloadTemplate" />
      <xsd:import schemaLocation="https://na1.assuresign.net/services/documentnow/v2/documentnow.svc?xsd=xsd19" namespace="https://www.assuresign.net/Services/DocumentNOW/Users" />
      <xsd:import schemaLocation="https://na1.assuresign.net/services/documentnow/v2/documentnow.svc?xsd=xsd20" namespace="https://www.assuresign.net/Services/DocumentNOW/Ping" />
      <xsd:import schemaLocation="https://na1.assuresign.net/services/documentnow/v2/documentnow.svc?xsd=xsd21" namespace="https://www.assuresign.net/Services/DocumentNOW/ValidateDocument" />
      <xsd:import schemaLocation="https://na1.assuresign.net/services/documentnow/v2/documentnow.svc?xsd=xsd22" namespace="https://www.assuresign.net/Services/DocumentNOW/Links" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountService_CreateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountService_CreateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_UpdateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountService_UpdateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_ListAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:ListAccounts" />
  </wsdl:message>
  <wsdl:message name="IAccountService_ListAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListAccountsResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountService">
    <wsdl:operation name="CreateAccount">
      <wsdl:input wsaw:Action="https://www.assuresign.net/Services/DocumentNOW/Accounts/IAccountService/CreateAccount" message="tns:IAccountService_CreateAccount_InputMessage" />
      <wsdl:output wsaw:Action="https://www.assuresign.net/Services/DocumentNOW/Accounts/IAccountService/CreateAccountResponse" message="tns:IAccountService_CreateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccount">
      <wsdl:input wsaw:Action="https://www.assuresign.net/Services/DocumentNOW/Accounts/IAccountService/GetAccount" message="tns:IAccountService_GetAccount_InputMessage" />
      <wsdl:output wsaw:Action="https://www.assuresign.net/Services/DocumentNOW/Accounts/IAccountService/GetAccountResponse" message="tns:IAccountService_GetAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <wsdl:input wsaw:Action="https://www.assuresign.net/Services/DocumentNOW/Accounts/IAccountService/UpdateAccount" message="tns:IAccountService_UpdateAccount_InputMessage" />
      <wsdl:output wsaw:Action="https://www.assuresign.net/Services/DocumentNOW/Accounts/IAccountService/UpdateAccountResponse" message="tns:IAccountService_UpdateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListAccounts">
      <wsdl:input wsaw:Action="https://www.assuresign.net/Services/DocumentNOW/Accounts/IAccountService/ListAccounts" message="tns:IAccountService_ListAccounts_InputMessage" />
      <wsdl:output wsaw:Action="https://www.assuresign.net/Services/DocumentNOW/Accounts/IAccountService/ListAccountsResponse" message="tns:IAccountService_ListAccounts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>