Service References/AssureSignServiceReference/documentnow2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://www.assuresign.net/Services/DocumentNOW/Submit" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://www.assuresign.net/Services/DocumentNOW/Submit" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://www.assuresign.net/Services/DocumentNOW/Submit/Imports">
      <xsd:import schemaLocation="https://na1.assuresign.net/services/documentnow/v2/documentnow.svc?xsd=xsd2" namespace="https://www.assuresign.net/Services/DocumentNOW/Submit" />
      <xsd:import schemaLocation="https://na1.assuresign.net/services/documentnow/v2/documentnow.svc?xsd=xsd0" namespace="https://www.assuresign.net/Services/DocumentNOW/AuthenticateDownload" />
      <xsd:import schemaLocation="https://na1.assuresign.net/services/documentnow/v2/documentnow.svc?xsd=xsd1" namespace="http://microsoft.com/wsdl/types/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISubmitService_SubmitWithFile_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitWithFile" />
  </wsdl:message>
  <wsdl:message name="ISubmitService_SubmitWithFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitWithFileResponse" />
  </wsdl:message>
  <wsdl:message name="ISubmitService_AsyncSubmitWithFile_InputMessage">
    <wsdl:part name="parameters" element="tns:AsyncSubmitWithFile" />
  </wsdl:message>
  <wsdl:message name="ISubmitService_AsyncSubmitWithFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:AsyncSubmitWithFileResponse" />
  </wsdl:message>
  <wsdl:message name="ISubmitService_SubmitWithFileRetrieval_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitWithFileRetrieval" />
  </wsdl:message>
  <wsdl:message name="ISubmitService_SubmitWithFileRetrieval_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitWithFileRetrievalResponse" />
  </wsdl:message>
  <wsdl:message name="ISubmitService_AsyncSubmitWithFileRetrieval_InputMessage">
    <wsdl:part name="parameters" element="tns:AsyncSubmitWithFileRetrieval" />
  </wsdl:message>
  <wsdl:message name="ISubmitService_AsyncSubmitWithFileRetrieval_OutputMessage">
    <wsdl:part name="parameters" element="tns:AsyncSubmitWithFileRetrievalResponse" />
  </wsdl:message>
  <wsdl:message name="ISubmitService_Submit_InputMessage">
    <wsdl:part name="parameters" element="tns:Submit" />
  </wsdl:message>
  <wsdl:message name="ISubmitService_Submit_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitResponse" />
  </wsdl:message>
  <wsdl:message name="ISubmitService_AsyncSubmit_InputMessage">
    <wsdl:part name="parameters" element="tns:AsyncSubmit" />
  </wsdl:message>
  <wsdl:message name="ISubmitService_AsyncSubmit_OutputMessage">
    <wsdl:part name="parameters" element="tns:AsyncSubmitResponse" />
  </wsdl:message>
  <wsdl:portType name="ISubmitService">
    <wsdl:operation name="SubmitWithFile">
      <wsdl:input wsaw:Action="https://www.assuresign.net/Services/DocumentNOW/Submit/ISubmitService/SubmitWithFile" message="tns:ISubmitService_SubmitWithFile_InputMessage" />
      <wsdl:output wsaw:Action="https://www.assuresign.net/Services/DocumentNOW/Submit/ISubmitService/SubmitWithFileResponse" message="tns:ISubmitService_SubmitWithFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AsyncSubmitWithFile">
      <wsdl:input wsaw:Action="https://www.assuresign.net/Services/DocumentNOW/Submit/ISubmitService/AsyncSubmitWithFile" message="tns:ISubmitService_AsyncSubmitWithFile_InputMessage" />
      <wsdl:output wsaw:Action="https://www.assuresign.net/Services/DocumentNOW/Submit/ISubmitService/AsyncSubmitWithFileResponse" message="tns:ISubmitService_AsyncSubmitWithFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitWithFileRetrieval">
      <wsdl:input wsaw:Action="https://www.assuresign.net/Services/DocumentNOW/Submit/ISubmitService/SubmitWithFileRetrieval" message="tns:ISubmitService_SubmitWithFileRetrieval_InputMessage" />
      <wsdl:output wsaw:Action="https://www.assuresign.net/Services/DocumentNOW/Submit/ISubmitService/SubmitWithFileRetrievalResponse" message="tns:ISubmitService_SubmitWithFileRetrieval_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AsyncSubmitWithFileRetrieval">
      <wsdl:input wsaw:Action="https://www.assuresign.net/Services/DocumentNOW/Submit/ISubmitService/AsyncSubmitWithFileRetrieval" message="tns:ISubmitService_AsyncSubmitWithFileRetrieval_InputMessage" />
      <wsdl:output wsaw:Action="https://www.assuresign.net/Services/DocumentNOW/Submit/ISubmitService/AsyncSubmitWithFileRetrievalResponse" message="tns:ISubmitService_AsyncSubmitWithFileRetrieval_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Submit">
      <wsdl:input wsaw:Action="https://www.assuresign.net/Services/DocumentNOW/Submit/ISubmitService/Submit" message="tns:ISubmitService_Submit_InputMessage" />
      <wsdl:output wsaw:Action="https://www.assuresign.net/Services/DocumentNOW/Submit/ISubmitService/SubmitResponse" message="tns:ISubmitService_Submit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AsyncSubmit">
      <wsdl:input wsaw:Action="https://www.assuresign.net/Services/DocumentNOW/Submit/ISubmitService/AsyncSubmit" message="tns:ISubmitService_AsyncSubmit_InputMessage" />
      <wsdl:output wsaw:Action="https://www.assuresign.net/Services/DocumentNOW/Submit/ISubmitService/AsyncSubmitResponse" message="tns:ISubmitService_AsyncSubmit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>